*, ::before,
::after {
    box-sizing: border-box;
}


body {
    background-color: #003459;
    color: #CF1259;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a:link {
    color: #5EB1BF;

}

a:hover {
    color: #7AE582;
}
