*, ::before,
::after {
    box-sizing: border-box;
}


.title1 {
    color: #FB5607;
}

.title2 {
    color: #FB5607;
}

.title3 {
    color: #FB5607;
}

.title4 {
    color: #FB5607;
}

body {
    background-color: #003459;
    color: #CF1259;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a:link {
    color: #5EB1BF;

}

a:hover {
    color: #7AE582;
}
